h1{
    text-align: center;
    font-size: 3em;
    color: white;
}

body{background-color: rgb(54, 54, 54);}

input{
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
}

#searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

button{
    border-radius: 1em;
    padding: 0.5em 2em;
    background-color: white;
    border: white;
    font-weight: 600;
}

button:hover{
    background-color: black;
    color:white
}



